@font-face {
  font-family: "Guardians";
  src: url("../Fonts/Guardians.ttf");
}
html, body {
  margin: 0;
  padding: 0;
  /* Hide scrollbar */
  /* Hide scrollbar */
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}
html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #1D1D1D;
  width: 100vw;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
nav #navCanvas {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  z-index: -10;
  height: 100vh;
  width: 100vw;
}
nav #mhSVG {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border-radius: 1rem;
  opacity: 1;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
  z-index: 100;
}
nav #mhSVG[data-open=false] {
  opacity: 0.4;
}
nav #mhSVG svg {
  height: 3rem;
  width: auto;
  fill: white;
}
nav #mhSVG .ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 700ms;
  transition: -webkit-transform 700ms;
  transition: transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
nav #mhSVG .hamRotate.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
nav #mhSVG .hamRotate.active .top {
  stroke-dashoffset: -98px;
}
nav #mhSVG .hamRotate.active .bottom {
  stroke-dashoffset: -138px;
}
nav #mhSVG .line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: white;
  stroke-width: 5.5;
  stroke-linecap: round;
}
nav #mhSVG .ham1 .top {
  stroke-dasharray: 40 139;
}
nav #mhSVG .ham1 .bottom {
  stroke-dasharray: 40 180;
}
nav #mhLinks {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
nav #mhLinks a {
  text-decoration: none;
  color: #FEFEFE;
  font-family: "Roboto Mono";
  letter-spacing: 1px;
  font-size: 1.5rem;
  overflow: hidden;
}
nav #mhLinks a span {
  display: block;
  height: 0%;
  overflow: hidden;
  text-transform: uppercase;
}

#mainBody {
  width: 100vw;
  max-width: 100vw;
  min-height: 200vh;
}

#page1 {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
  color: #FEFEFE;
}
#page1 #page1Txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#page1 #page1Txt p {
  opacity: 0;
  font-family: "Guardians";
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  margin: 0;
}
#page1 #page1Txt p span {
  color: red;
}
#page1 #shieldSVG1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 16.6rem;
  width: auto;
  opacity: 0.5;
}
#page1 #Csvg1 {
  height: 20rem;
  width: auto;
  overflow: visible;
}
#page1 .cls-1 {
  fill: none;
  stroke: white;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}
#page1 #scrollD {
  overflow: visible;
  margin-top: 3rem;
}
#page1 #scrollD path {
  fill: white;
  stroke: white;
  stroke-width: 0.5px;
  overflow: visible;
}

#page2 {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
#page2 #page2Txt {
  margin: 0;
  color: #FEFEFE;
  text-align: center;
}
#page2 #shieldDiv {
  min-height: 20rem;
  min-width: 100vw;
}