@font-face {
    font-family: 'Guardians' ;
    src: url("../Fonts/Guardians.ttf");
}

html,body{
    margin: 0;
    padding: 0;
    /* Hide scrollbar */
    &::-webkit-scrollbar {
        display: none;
    }
    &{
        -ms-overflow-style: none;  
        scrollbar-width: none; 
    } 
    /* Hide scrollbar */
    // padding-bottom: 100vh;
    // pointer-events: none;

}

$text-color-1 : #FEFEFE;


body{
    background-color: #1D1D1D;
    width: 100vw;
    // pointer-events: none;

    // height: 100vh;
}


nav{
    position: fixed;
    top: 0;left :  0;right: 0;bottom : 0;
    z-index: 100;
    #navCanvas{
        position: absolute;
        // top: 1rem;right: 1rem;
        top: 0;right: 0;
        pointer-events: none;
        z-index: -10;
        height: 100vh;
        width: 100vw;
    }
    #mhSVG{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: transparent;
        // height: 100%;
        border-radius: 1rem;
        opacity: 1;
        transition: all 1000ms;
        z-index: 100;
        &[data-open=false]{
            opacity: 0.4;
        }
        $svg1-color : white;
        svg{
            height: 3rem;
            width: auto;
            fill: $svg1-color;
        }
        .ham {
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            transition: transform 700ms;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .hamRotate.active {
            transform: rotate(45deg);
            .top {
                stroke-dashoffset: -98px;
            }
            .bottom {
                stroke-dashoffset: -138px;
            }
        }
        .line {
            fill:none;
            transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
            stroke:$svg1-color;
            stroke-width:5.5;
            stroke-linecap:round;
        }
        .ham1{
            .top {
                stroke-dasharray: 40 139;
            }
            .bottom {
                stroke-dasharray: 40 180;
            }
        }
    }
    #mhLinks{
        position: absolute;
        top: 0;left :  0;right: 0;bottom : 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap : 3rem;
        // z-index: 10;
        // background-color: cadetblue;
        a{
            text-decoration: none;
            color: $text-color-1;
            font-family: 'Roboto Mono';
            letter-spacing: 1px;
            font-size: 1.5rem;
            overflow: hidden;
            // background-color: cadetblue;
            span{
                display: block;
                height: 0%;
                overflow: hidden;
                text-transform: uppercase;
            }
        }
    }
}


#mainBody{
    // z-index: 100;
    width: 100vw;
    max-width: 100vw;
    min-height: 200vh;
    // pointer-events: none;
    // background-color: aquamarine;
    
}

#page1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // background-color: cadetblue;
    row-gap: 2rem;
    color: $text-color-1;
    #page1Txt{
        display: flex;
        flex-direction: column;
        p{
            opacity: 0;
            font-family: 'Guardians';
            text-align: center;
            width: 100%;
            font-size: 1.5rem;
            margin: 0;
            span{
                color: red;
            }
        }
    }
    #shieldSVG1{
        position: absolute;
        top: 0;left :  0;right: 0;bottom : 0;
        height: 16.6rem;
        width: auto;
        opacity: 0.5;
        // background-color: aqua;
    }
    #Csvg1{
        height: 20rem;
        width: auto;
        overflow: visible;
    }
    .cls-1{
        fill:none;
        stroke:white;
        stroke-miterlimit:10;
        stroke-width:2px;
    }

    #scrollD{
        overflow: visible;
        margin-top: 3rem;
        path{
            $path-color : white; 
            fill: $path-color;
            stroke: $path-color;
            stroke-width: 0.5px;
            overflow: visible;
        }
    }
    
}

#page2{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    #page2Txt{
        margin: 0;
        color: $text-color-1;
        text-align: center;
    }
    #shieldDiv{
        // width: fit-content;
        min-height: 20rem;
        min-width: 100vw;
        // background-color: cadetblue;
        // border: 1px solid blue;
        // svg{
        //     height: 20rem;
        //     width: auto;
        //     opacity: 0;
        // }
    }
}

